extends base
mixin renderSubject(STT, code, name, type, STC)
    - if (STT%2 === 0)
        tr.row_w
            td.col1(width='70px')=STT
            td.col2=code
            td.col3=name
            td.col4=type
            td.col4=STC
    - else
        tr.row_b
            td.col1(width='70px')=STT
            td.col2=code
            td.col3=name
            td.col4=type
            td.col4=STC
block content
  body(data-alert=`${alert ? alert : ''}`)
    .page
        .container
            .info_container
                .panelleft1
                        .blog_menu4_HP
                        .PanelBarMenu
                            ul.menubar
                                li.bg_mn
                                    a(href='/' target='_parent') Trang đăng ký học phần
                                li.bg_mn
                                    a(href='/tracuu' target='_newtab') Tra cứu học phần
                                li.bg_mn
                                    a(href='/hocphan' target='_newtab') Chương trình đào tạo
                .panelcontent1
                    .wrapper_vb
                        .blog_menu4_HP
                        #DanhSachLop(style="display: block !important")
                            table(border='0' width='100%' style='margin: auto')
                                tr
                                    td
                                        b.title
                                        | DANH SÁCH NHỮNG HỌC PHẦN CHƯA TÍCH LŨY THEO KẾ HOẠCH
                                tr
                                    td(align='right')
                                tr
                                    td
                                        div(style='height: 5px')
                                        table(width='100%' border='1' style='border-collapse: collapse; font-size: 13px')
                                            thead
                                                tr
                                                    th STT
                                                    th Mã HP
                                                    th Tên học phần
                                                    th Loại HP
                                                    th Số tín chỉ
                                                    th Đăng ký
                                            tbody.btn-search
                                                ul
                                                    each course, i in courseOpen
                                                        tr
                                                            td=i
                                                            td=course.subject_id || "HP"
                                                            td=course.name
                                                            td=course.type
                                                            td=course.numberOfCredits
                                                            td
                                                                button.btn-swap(data-idCourse=`${course.id}`) Tìm khoá học
                                                          
                        #DanhSachChon
                        div.dschon
                        div.dsdk
                            fieldset.fielddschon
                                legend
                                    b.legend-chon Phiếu đăng ký môn học
                                #DanhSachHocPhanDaDangKi
                                    div.dshpdk
                                        a(href='/')
                                            img(src='/Content/images/refresh.png' width='25')
                                        |                                        Lọc lại
                                    #reload_ketquadangki
                                        table(width='100%')
                                            tr
                                                td(width='60%')
                                                    b.kq-reload=`Tổng số tín chỉ đã đăng ký : ${STT} tín chỉ`
                                                td.td-kq-reload
                                                    b
                                                        | Ghi chú :
                                                        img(src='/Content/images/yellow.png' width='15px')
                                                        |                                                 Trùng lịch
                                        table.tb-kqdk(width='100%' border='1' cellpadding='10')
                                            thead
                                                tr
                                                th Mã lớp học phần
                                                th Tên học phần
                                                th Số tín chỉ
                                                th Thời gian
                                                th Giảng viên	
                                                th Ngày bắt đầu
                                                th Ngày kết thúc	
                                                th Chuyển nhóm
                                                th Xóa đăng ký
                                            tbody.btn-delete-swap
                                                ul
                                                    each course in courses
                                                        - const dateStart = new Date(course.dateStart).toLocaleDateString('vi-VN');
                                                        - const dateEnd = new Date(course.dateEnd).toLocaleDateString('vi-VN');
                                                        - const hour = new Date(course.dateStart).toTimeString().split(' ')[0];
                                                        tr
                                                            td=course._id
                                                            td=course.subjectname
                                                            td=course.stc
                                                            td=hour
                                                            td=course.teachername
                                                            td=dateStart
                                                            td=dateEnd
                                                            td
                                                                button.btn-swap(data-idCourse=`${course.subject_code}`) Chuyển nhóm
                                                            td
                                                                button.btn-xoa(data-idCourse=`${course._id}`) Xóa đăng kí
                                            tr
                                                td.tdata(colspan='9' align='right')
                                                    a(href='' target='_blank')
                                                        b.b-phieu() Xuất phiếu đăng ký
                                                        img(src='/Content/images/printer.jpg' width='25')
