extends base
block content
    h2.message-enroll Chuyển nhóm
    br
    div.enrollmaindiv
        table.enrollmaintable(width='100%' border='1' cellpadding='10')
            thead
            tr
                th Mã lớp học phần
                th Tên học phần
                th Số tín chỉ
                th Lịch học
                th Giáo viên
                th Ngày bắt đầu
                th Ngày kết thúc
                th Giới hạn
                th Số sinh viên
                th Đăng ký
            tbody.btn-enroll
                ul
                    each course in courses
                        - const dateStart = new Date(course.dateStart).toLocaleDateString('vi-VN');
                        - const dateEnd = new Date(course.dateEnd).toLocaleDateString('vi-VN');
                        tr
                            td=course._id
                            td=course.subjectname
                            td=course.stc
                            td=course.teachername
                            td=course.teachername
                            td=dateStart
                            td=dateEnd
                            td=course.max
                            td=course.total
                            td
                                - if (course.isExist)
                                    a.inactive Đã đăng kí
                                - else
                                    -if (course.max < course.total + 1)
                                        a.inactive Đăng ký
                                    - else 
                                        span.enroll-course(data-idCourse=course._id) Đăng ký;
                                        
            //- td.message-enroll(colspan='10' align='right')
                
            
